<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <p>POST</p>
    <form method="POST">
            <input type="text" name="a" id="a">
            <input type="text" name="b" id="b">
            <input type="submit" name="plusz" value="plusz">
            <input type="submit" name="minusz" value="minusz">
            <input type="submit" name="szorzas" value="szorzas">
            <input type="submit" name="osztas" value="osztas">
    </form>

    <p>GET</p>
    <form method="GET">
            <input type="text" name="a" id="a">
            <input type="text" name="b" id="b">
            <input type="submit" name="plusz" value="plusz">
            <input type="submit" name="minusz" value="minusz">
            <input type="submit" name="szorzas" value="szorzas">
            <input type="submit" name="osztas" value="osztas">
    </form>
    
    <textarea name="eredmeny" id="eredmeny" cols="30" rows="10">{{ eredmeny }}</textarea>
</body>
</html>